@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  /* old */
  --color-*: initial;
  --color-color-black: #0c141c;
  --color-color-blue-lightest: #e8f5ff;
  --color-color-blue-light: #98cbff;
  --color-color-blue-mid: #036fe3;
  --color-color-blue-base: #0059c8;
  --color-color-blue-dark: #0041ab;
  --color-blue100: #e8f5ff;
  --color-blue200: #ceecff;
  --color-blue300: #98cbff;
  --color-blue400: #40a0ff;
  --color-blue500: #036fe3;
  --color-blue600: #0059c8;
  --color-blue700: #0041ab;
  --color-blue800: #003298;
  --color-blue900: #002a8e;
  --color-color-contrast-dark: #0c141c;
  --color-color-contrast-mid: #111b2b;
  --color-color-contrast-light: #1b273a;
  --color-color-coral-dark: #ffe0e0;
  --color-color-coral-mid: #fff2f2;
  --color-color-element-darkest: #67728a;
  --color-color-element-dark: #aec1cc;
  --color-color-element-mid: #cfd9e0;
  --color-color-element-light: #e7ebee;
  --color-color-element-lightest: #f7f9fa;
  --color-gray100: #f7f9fa;
  --color-gray200: #e7ebee;
  --color-gray300: #cfd9e0;
  --color-gray400: #aec1cc;
  --color-gray500: #67728a;
  --color-gray600: #5a657c;
  --color-gray700: #414d63;
  --color-gray800: #1b273a;
  --color-gray900: #111b2b;
  --color-color-green-dark: #00550c;
  --color-color-green-base: #006d23;
  --color-color-green-mid: #008539;
  --color-color-green-light: #9ed696;
  --color-color-green-lightest: #eaf9e8;
  --color-green100: #eaf9e8;
  --color-green200: #cdf3c6;
  --color-green300: #9ed696;
  --color-green400: #5db057;
  --color-green500: #008539;
  --color-green600: #006d23;
  --color-green700: #00550c;
  --color-green800: #004700;
  --color-green900: #003f00;
  --color-color-ice-dark: #ceecff;
  --color-color-ice-mid: #e8f5ff;
  --color-color-mint-dark: #cdf3c6;
  --color-color-mint-mid: #eaf9e8;
  --color-color-orange-dark: #b12d00;
  --color-color-orange-base: #cc4500;
  --color-color-orange-mid: #f07f23;
  --color-color-orange-light: #fde5c0;
  --color-color-orange-lightest: #fff2e4;
  --color-orange100: #fff2e4;
  --color-orange200: #fde5c0;
  --color-orange300: #fdb882;
  --color-orange400: #f07f23;
  --color-orange500: #cc4500;
  --color-orange600: #b12d00;
  --color-orange700: #892300;
  --color-orange800: #731a00;
  --color-orange900: #631c00;
  --color-color-peach-dark: #fde5c0;
  --color-color-peach-mid: #fff2e4;
  --color-color-purple-dark: #5127b5;
  --color-color-purple-base: #6c3ecf;
  --color-color-purple-mid: #8553e7;
  --color-color-purple-light: #d1bbff;
  --color-color-purple-lightest: #f7f2ff;
  --color-purple100: #f7f2ff;
  --color-purple200: #ede3ff;
  --color-purple300: #d1bbff;
  --color-purple400: #ae89ff;
  --color-purple500: #8553e7;
  --color-purple600: #6c3ecf;
  --color-purple700: #5127b5;
  --color-purple800: #3e16a4;
  --color-purple900: #340e9c;
  --color-color-red-dark: #990017;
  --color-color-red-base: #bd002a;
  --color-color-red-mid: #da294a;
  --color-color-red-light: #ffb1b2;
  --color-color-red-lightest: #fff2f2;
  --color-red100: #fff2f2;
  --color-red200: #ffe0e0;
  --color-red300: #ffb1b2;
  --color-red400: #ff707d;
  --color-red500: #da294a;
  --color-red600: #bd002a;
  --color-red700: #990017;
  --color-red800: #7f0010;
  --color-red900: #72000e;
  --color-color-primary: #0059c8;
  --color-color-positive: #006d23;
  --color-color-negative: #bd002a;
  --color-color-warning: #cc4500;
  --color-color-text-dark: #111b2b;
  --color-color-text-base: #1b273a;
  --color-color-text-mid: #414d63;
  --color-color-text-light: #5a657c;
  --color-color-text-lightest: #67728a;
  --color-color-white: #ffffff;
  --color-color-yellow-dark: #956300;
  --color-color-yellow-base: #eaaf09;
  --color-color-yellow-mid: #ffc835;
  --color-color-yellow-light: #ffd960;
  --color-color-yellow-lightest: #fff6cc;
  --color-yellow100: #fef9df;
  --color-yellow200: #fff6cc;
  --color-yellow300: #ffe993;
  --color-yellow400: #ffd960;
  --color-yellow500: #ffc835;
  --color-yellow600: #eaaf09;
  --color-yellow700: #b78300;
  --color-yellow800: #956300;
  --color-yellow900: #7f5200;


  /* new */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-darkest: #222;
  --color-gray-dark: #717171;
  --color-gray-lightest: #f7f7f7;
  --color-gray-lighter: #ebebeb;
  --color-gray-light: #ddd;

  /* typo */
  --color-text-white: var(--color-white);
  --color-text-black: var(--color-gray-darkest);
  --color-text-gray: var(--color-gray-dark);

  --color-border-gray-lighter: var(--color-gray-lighter);
  --color-border-gray-light: var(--color-gray-light);

  --container-8xl: 90rem;

  --tracking-snug: -0.011em;

  --text-*: initial;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.3333333333;

  --text-sm: 0.875rem;
  --text-sm--line-height: 1.2857142857;

  --text-smd: 1.125rem;
  --text-smd--line-height: 1;

  --text-base: 1.375rem;
  --text-base--line-height: 1.1818181818;
  --text-md: var(--text-base);
  --text-md--line-height: var(--text-base--line-height);

  --text-lg: 1.625rem;
  --text-lg--line-height: 1.1538461538;

  --text-xl: 2.5rem;
  --text-xl--line-height: 1.15;
  --text-xl--font-weight: 600;

  --leading-tighter: 1.1;
  --leading-tightest: -.01em;

  --leading-xs: var(--text-xs--line-height);
  --leading-sm: var(--text-sm--line-height);
  --leading-base: var(--text-base--line-height);
  --leading-md: var(--text-base--line-height);
  --leading-lg: var(--text-lg--line-height);
  --leading-xl: var(--text-xl--line-height);
  --leading-2xl: 1.2222222222;
  --leading-3xl: 1.2727272727;

  --font-sans:
    var(--font-raleway), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-xs: 20rem;
  --breakpoint-md: 46.5rem;
  --breakpoint-lg: 59.375rem;
  --breakpoint-xl: 64rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

@layer base {
  body {
    @apply text-sm text-black md:text-sm bg-gray100;
  }

  /* TODO: REMOVE or define
  .h1,
  h1 {
    @apply text-xl leading-tighter font-semibold md:text-4xl;
  }

  .h2,
  h2 {
    @apply text-xl leading-tight font-semibold md:text-3xl;
  }

  .h3,
  h3 {
    @apply text-base leading-relaxed font-semibold md:text-xl;
  }

  .h4,
  h4 {
    @apply text-xs leading-normal font-semibold md:text-base;
  }

  p {
    @apply text-gray600 tracking-snug font-normal leading-snug md:leading-normal;
  } */
}

